@import 'style';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.informacion{
    margin-top: 3PX;
    // background-color:bisque;
    margin-top: 20px;
}

.seb{
    margin-top: 2px;
}

h3{
    color: $color-nav-l;
}

p{
    color: $color-letras;
}
.carrusel{
    margin-top: 5px;
    .DKseb{
        color: $lime;
    }
}

.container-fluid{
    .table{
        margin-top: 15px;
    }
}

//estilos carrusel movil
@media (max-width: 540px) {
    .clearfix{
        .seb{
            margin-top:45px;
        }
    }
    .carrusel{
        width: 150;
        display: none;
    }
}

